# Logs
logs
*.log

# Dependency directories
node_modules/

# Build output
dist/
build/
out/

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.sublime-*

# Miscellaneous
.DS_Store
Thumbs.db

# Docker
Dockerfile.dev
docker-compose.dev.yml